extends layout 

block content
    h1= title

    - let Tankid = toShow._id
    - let tankyear = toShow.year
    - let tankcountry = toShow.country
    - let tankname = toShow.name
    div
        div.row
            div(class='tankAttr mr-3') Tank ID is:
            div #{Tankid}
        div.row
            div(class='tankAttr mr-3') Tank Year is:
            div #{tankyear}
        div.row
            div(class='tankAttr mr-3') Tank Country is:
            div #{tankcountry}
        div.row
            div(class='tankAttr mr-3') Tank Name is:
            div #{tankname}